{% if request.user.is_authenticated %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            padding-top: 7em;
        }

        /* Style for OTP input fields */
        .otp-input {
            width: 30px;
            height: 30px;
            margin: 0 5px;
            font-size: 18px;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'appoint_app/css/messages.css' %}">
    <title>Appoint-Master | Doctor OTP Verification</title>
</head>
<body style="background-color: #f2f2f5;">
    <div class="container">
        <!-- Display error messages -->
        <div class="message-container">
            {% if messages %}
            {% for message in messages %}
            <div class="message {% if message.tags == 'success' %}message-success{% elif message.tags == 'error' %}message-error{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="text-center pb-2">
            <img src="{% static 'appoint_app/images/appoint-master-logo.png' %}" alt="Logo" style="width: 43px; height: 43px;">
        </div>
        <h4 class="text-center mb-4" style="color: rgba(12, 189, 21, 0.932);">Doctor OTP Verification</h4>
        <form id="otpForm" action="." method="POST" class="mx-auto" style="max-width: 400px;">
            {% csrf_token %}
            <div class="form-row justify-content-center">
                <label for="otp">Enter the OTP sent to <b>{{user.email}}✅</b>:</label>
            </div>
            
            <div class="form-row justify-content-center mb-3 mt-3">
                <!-- Create 6 input fields for OTP -->
                <input type="text" class="otp-input" maxlength="1" name="digit1" required>
                <input type="text" class="otp-input" maxlength="1" name="digit2" required>
                <input type="text" class="otp-input" maxlength="1" name="digit3" required>
                <input type="text" class="otp-input" maxlength="1" name="digit4" required>
                <input type="text" class="otp-input" maxlength="1" name="digit5" required>
                <input type="text" class="otp-input" maxlength="1" name="digit6" required>
            </div>
        </form>
        
        
        <p class="mt-4 text-center text-sm text-gray-500">
            Back to
            <a href="{% url 'login' %}" style="text-decoration: none; color: rgb(55, 16, 194); font-weight: 600;">Login</a>
        </p>  
    </div>

    <!-- JavaScript for automatically moving cursor to next field and verifying OTP -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var otpFields = document.getElementsByClassName('otp-input');
            var currentIndex = 0;
    
            // Set focus on the first OTP field
            otpFields[currentIndex].focus();
    
            for (var i = 0; i < otpFields.length; i++) {
                otpFields[i].addEventListener('input', function() {
                    if (this.value.length == this.maxLength) {
                        // Move to the next OTP field
                        currentIndex = Array.prototype.indexOf.call(otpFields, this);
                        if (currentIndex < otpFields.length - 1) {
                            otpFields[currentIndex + 1].focus();
                        } else {
                            // Last field, submit form
                            document.getElementById('otpForm').submit();
                        }
                    } else if (this.value.length == 0) {
                        // Move to the previous OTP field if current field is cleared
                        currentIndex = Array.prototype.indexOf.call(otpFields, this);
                        if (currentIndex > 0) {
                            otpFields[currentIndex - 1].focus();
                        }
                    }
                });
            }
    
            // Allow using < and > keys to move left and right between input fields (Does not work!)
            document.addEventListener('keydown', function(e) {
                if (e.key === '<' || e.key === ',') {
                    e.preventDefault();
                    currentIndex = Math.max(0, currentIndex - 1);
                    otpFields[currentIndex].focus();
                } else if (e.key === '>' || e.key === '.') {
                    e.preventDefault();
                    currentIndex = Math.min(otpFields.length - 1, currentIndex + 1);
                    otpFields[currentIndex].focus();
                }
            });
    
            // Prevent form submission when pressing Enter key (Automatic otp submission)
            document.getElementById('otpForm').addEventListener('keypress', function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault();
                }
            });
        });
    </script>
    
    <script src="{% static 'appoint_app/js/login_patient.js' %}"></script>
</body>
</html>

{% endif %}
