{% load static tailwind_tags%}
<!DOCTYPE html>
<html class="h-full bg-violet-50" lang="en">
	<head>
	    <title>Appoint-Master | Password-Set</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
		{% tailwind_css%}
	</head>
	<body>
		<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">			
			<div class="sm:mx-auto sm:w-full sm:max-w-sm">
			  <img class="mx-auto h-12 top-1 w-auto" src="{% static 'appoint_app/images/appoint-master-logo.png' %}" alt="Logo">
			  <h3 class="mt-2 mb-3 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset complete!</h3>
			</div>
		  
			<div class="mt-1 sm:mx-auto sm:w-full sm:max-w-sm">
                <div class="p-5 mb-3 w-full text-center text-md text-black bg-gray-200 rounded-md font-semibold">
                    <p>Your password has been changed successfully! You can now <a href="{% url 'login' %}" class="text-red-600 font-bold">log in</a> with your new password to Appoint-Master.</p>
                </div>
			</div>
		</div>
	</body>
</html> 