{% load static tailwind_tags%}
<!DOCTYPE html>
<html class="h-full bg-violet-50" lang="en">
<head>
    <title>Appoint-Master | Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    {% tailwind_css%}
</head>
<body>
    <div class="px-4 sm:px-0">
        <div class="flex mt-4 min-h-full flex-col justify-center lg:px-8">  
            {% if validlink %}
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-12 top-1 w-auto" src="{% static 'appoint_app/images/appoint-master-logo.png' %}" alt="Logo">
                <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset your Password</h2>
            </div>
            <div class="mt-1 sm:mx-auto sm:w-full sm:max-w-sm">
                <p class="mt-3 mb-4 space-x-1 text-center text-md text-black font-semibold">Please enter your new password twice:</p>
                <p class="mt-3 mb-2 space-x-1 text-center text-md text-red-500 font-semibold">NB: The Standards below MUST be met to change password successfully:</p>
                <div class="mt-1 mb-1 w-full text-center text-sm text-black bg-gray-200 p-2 rounded-md font-semibold">
                    <p class="font-bold text-left">- Password can't be too similar to your personal information.</p>
                    <p class="font-bold text-left">- Password MUST contain at least 8 characters.</p>
                    <p class="font-bold text-left">- Password MUST contain at least 1 letter, 1 digit and 1 symbol.</p>
                    <p class="font-bold text-left">- Password cannot be a commonly used password e.g., Password.</p>
                    <p class="font-bold text-left">- Password cannot be entirely numeric e.g., 12345678</p>
                </div>
                <div class="top-1 transform flex justify-center items-center mt-3">
                    <form class="space-y-4 w-full lg:w-96" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.errors %}
                        <div class="text-red-500 text-sm mt-1 text-semibold">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="relative">
                            <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="password" autocomplete="new-password" placeholder="{{ field.label }}" required 
                                class="block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <button 
                                type="button" 
                                id="passwordToggle-{{ field.html_name }}" 
                                class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5 text-blue-500 hover:text-gray-700 focus:outline-none focus:shadow-outline-blue active:text-gray-800"
                                onclick="togglePasswordVisibility('{{ field.id_for_label }}', 'passwordIcon-{{ field.html_name }}')">
                                <i id="passwordIcon-{{ field.html_name }}" class="fas fa-eye"></i>
                            </button>
                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" required class="relative block w-full lg:w-96 border-0 py-1.5 top-3 items-center justify-center bg-gradient-to-r from-purple-500 to-blue-500 hover:from-purple-600 hover:to-blue-600 focus:outline-none focus:ring focus:ring-purple-300 active:bg-blue-700 rounded-[99px] text-white font-semibold shadow-md transition duration-300 ease-in-out transform hover:scale-105">Change my Password</button>
                        </div>
                    </form>
                </div>          
            </div>
            
            {% else %}
            <div class="sm:mx-auto sm:w-full sm:max-w-sm mx-auto sticky transform translate-x-center -translate-y-16">
                <img class="mx-auto h-12 w-auto" src="{% static 'appoint_app/images/appoint-master-logo.png' %}" alt="Logo">
                <h2 class="mt-2 mb-4 text-center text-2xl font-bold leading-9 tracking-tight text-red-dark">Invalid Reset-Link!</h2>
            </div>
            <div class="top-1 p-4 transform translate-x-center -translate-y-16 flex min-h-full flex-col justify-center items-center px-6 lg:px-8">
                <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                    <div class="relative p-4 mb-52 w-full text-center text-md text-black bg-gray-100 rounded-md font-semibold">
                        <p>The password-reset link has already been used! Please request a new reset link:</p>
                        <div class="mt-1">
                            <p>
                                Get a new
                                <a href="{% url 'password_reset' %}" class="font-bold text-indigo-600 hover:text-indigo-500 text-md">link</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
                    
            {% endif %}
        </div>
    </div>
<script src="{% static 'appoint_app/js/change_password.js' %}"></script>
</body>
</html>