<!DOCTYPE html>
{% load static %}
{% load tz %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appoint Master</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container pt-4">
    <section class="d-flex bg-primary justify-content-between align-items-center p-1 mb-2 text-white rounded">
        <a href="/">
            <img src="{% static 'appoint_app/images/appoint-master-logo.png' %}" width="37" height="37" alt="Logo">
        </a>
        <div>
            <h6 style="font-size: 14.6px">Appointment Details</h6>
        </div>
        <div>
            <h6 style="font-size: 14.6px">Appointment ID: {{ appointment.appoint_id }}</h6>
        </div>
        {% if user.is_authenticated and user.is_Staff_Patient or user.is_authenticated and user.is_Student_Patient %}
            <div>
                <a href="{% url 'export_appointment_pdf' appointment_id=appointment.appoint_id %}" class="btn btn-warning" style="padding: 2px; margin: 1px">Generate Report</a>
            </div>
        {% endif %}
        <div class="mb-2">
            <span id="real-time-clock" style="font-weight: 700; font-size: 14.5px;">
                {% localtime on %}
                    {% now "l, F j, Y H:i:s" %}
                {% endlocaltime %}
            </span>
        </div>
    </section>
    <div class="card" style="align-items: center; width: 100%;">
        <div class="card-body" style="align-items: center; width: 50%;">
            <div class="table-responsive">
                <table class="table table-hover table-bordered" style="font-size: 13.9px">
                    <thead>
                        <tr>
                            <th>ITEM</th>
                            <th>DETAILS</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td><b>Booked:</b></td>
                            <td>{{ appointment.book_time }}</td>
                        </tr>
                        <tr>
                            <td><b>Resolved:</b></td>
                            <td>
                                {% if appointment.is_resolved %}
                                ☑️
                                {% else %}
                                ❎
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Appointment Area:</b></td>
                            <td>{{ appointment.appoint_area }}</td>
                        </tr>
                        <tr>
                            <td><b>Patient:</b></td>
                            <td>{{ appointee }}</td>
                        </tr>
                        <tr>
                            <td><b>Patient Type:</b></td>
                            <td>{{ patient_type }}</td>
                        </tr>
                        <tr>
                            <td><b>Patient Gender:</b></td>
                            <td>{{ appointment.appointee.gender }}</td>
                        </tr>
                        <!--Patient phone number & email can't be viewed by doctor; only patient and admin.-->
                        {% if user.is_authenticated and  not user.is_Doctor %}
                        <tr>
                            <td><b>Patient Phone:</b></td>
                            <td>{{ phone_number }}</td>
                        </tr>
                        
                        <tr>
                            <td><b>Patient Email:</b></td>
                            <td>{{ appointment.appointee.email }}</td>
                        </tr>
                        {% endif %}

                        <tr>
                            <td><b>Appointed Doctor:</b></td>
                            <td>{{ appointment.appointed_doctor }}</td>
                        </tr>
                        <tr>
                            <td><b>Payment:</b></td>
                            <td>
                                {% if appointment.payment %}
                                ✅️
                                {% else %}
                                ⚠️
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Approved:</b></td>
                            <td>
                                {% if appointment.approve_date %}
                                    {{ appointment.approve_date }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Scheduled:</b></td>
                            <td>
                                {% if appointment.appoint_time %}
                                    {{ appointment.appoint_time }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Closed:</b></td>
                            <td>
                                {% if appointment.close_date %}
                                    {{ appointment.close_date }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Appointment Status:</b></td>
                            <td>
                                    {% if appointment.appoint_status == 'Failed' %}
                                        <strong style="color:rgb(255, 37, 37);">{{ appointment.appoint_status }}</strong>
                                    {% elif appointment.appoint_status == 'Scheduled' %}
                                        <strong style="color:rgb(10, 159, 179);">{{ appointment.appoint_status }}</strong>
                                    {% elif appointment.appoint_status == 'Canceled' %}
                                        <strong style="color:rgb(230, 38, 54);">{{ appointment.appoint_status }}</strong>
                                    {% elif appointment.appoint_status == 'Completed' %}
                                        <strong style="color:rgb(3, 168, 17);">{{ appointment.appoint_status }}</strong>
                                    {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><b>Remarks:</b></td>
                            <td>{{ appointment.doctor_remarks }}</td>
                        </tr>             
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <p class="mt-4 mb-5 text-center text-sm text-gray-500">
        Back to
        <a href="/" style="text-decoration: none; color: rgb(74, 17, 206); font-weight: 600;">Dashboard</a>
    </p>
</div>
<style>
    footer {
        font-size: 13px;
    }
</style>
<footer class="container-fluid bg-primary fixed-bottom text-white  text-bold text-center">
    <img src="{% static 'appoint_app/images/appoint-master-logo.png' %}" width="30" height="30" alt="Logo"> ©
  2024 Appoint Master, KUHC
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'appoint_app/js/date_time.js' %}"></script>
</body>
</html>