{% if request.user.is_authenticated %}
{% load tz %}
<!DOCTYPE html>
{% load static %}
<html class="h-full bg-violet-50" lang="en">
<head>
    <title>Appoint-Master | Manage all Appointments</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="{% static 'appoint_app/css/view_table.css' %}">

    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.js"></script>
    <script defer src="{% static 'appoint_app/js/table.js' %}"></script>
    <script defer src="{% static 'appoint_app/js/date_time.js' %}"></script>
    
</head>
<body>
    <div class="container pt-5">
        <div class="message-container">
            {% if messages %}
            {% for message in messages %}
            <div class="message {% if message.tags == 'success' %}message-success{% elif message.tags == 'error' %}message-error{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <section class="d-flex bg-primary justify-content-between align-items-center p-2 mb-2 text-white rounded">
            <a href="/">
                <img src="{% static 'appoint_app/images/appoint-master-logo.png' %}" width="37" height="37" alt="Logo">
            </a>
            <div>
                <h6 style="font-size: 14.6px">MANAGE APPOINTMENTS</h6>           
            </div>
            {% if user.profile_photo %}
                <img src="{{user.profile_photo.url}}" alt="Profile Picture" style="height: 37px; width: 37px; border-radius: 50%;"></a>
            {% else %}
                <img src="{% static 'appoint_app/images/profile.png' %}" alt="Profile Picture" style="height: 37px; width: 37px; border-radius: 50%;"></a>
            {% endif %}
            <div>
                <h6 style="font-size: 14.6px">Patient: {{user.first_name}} {{user.last_name}}</h6>
            </div>
            <div>
                <h6 style="font-size: 14.6px">Type: {{user.patient_type}}</h6>
            </div>
            <div>
                <h6 style="font-size: 14.6px">ID: {{user.patient_id}}</h6>
            </div>
            <div class="mb-2">
                <span id="real-time-clock" style="font-weight: 700; font-size: 14.5px;">
                    {% localtime on %}
                        {% now "l, F j, Y H:i:s" %}
                    {% endlocaltime %}
                </span>
            </div>
        </section>
        <table id="example" class="table table-striped table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Appointed Doctor</th>                              
                    <th>Appointed Area</th>
                    <th>Booked</th>
                    <th>Resolved</th>
                    <th>Payment</th>
                    <th>Approved</th>
                    <th>Scheduled</th>
                    <th>Closed</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for appointment in all_user_appointments %}
                    <tr>
                        <td><a href="{% url 'view-appointment' appointment_id=appointment.appoint_id %}" style="text-decoration: none; color:rgb(13, 10, 212); font-weight: 500;">{{ appointment.appoint_id }}</a></td>
                        <td>
                            {{ appointment.appointed_doctor.first_name }} {{ appointment.appointed_doctor.last_name }}
                        </td>
                        <td>{{ appointment.appoint_area }}</td>
                        <td>{{ appointment.book_time }}</td>
                        <td>
                            {% if appointment.is_resolved %}
                            ☑️
                            {% else %}
                            ❎
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.payment %}
                            ✅
                            {% else %}
                            ⚠️
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.approve_date %}
                                {{ appointment.approve_date }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.appoint_time %}
                                {{ appointment.appoint_time }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.close_date %}
                                {{ appointment.close_date }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        <td class="status-container">
                            {% if appointment.appoint_status == 'Failed' %}
                                <strong class="status-failed">{{ appointment.appoint_status }}</strong>
                            {% elif appointment.appoint_status == 'Scheduled' %}
                                <strong class="status-scheduled">{{ appointment.appoint_status }}</strong>
                            {% elif appointment.appoint_status == 'Canceled' %}
                                <strong class="status-canceled">{{ appointment.appoint_status }}</strong>
                            {% elif appointment.appoint_status == 'Completed' %}
                                <strong class="status-completed">{{ appointment.appoint_status }}</strong>
                            {% endif %}
                        </td>
                        {% if appointment.appoint_status == 'Scheduled' %}
                        <td class="button-container">
                            <button class="btn-cancel">
                                <a href="{% url 'cancel-patient-appointment' appointment_id=appointment.appoint_id %}" class="btn-link-cancel">
                                    Cancel
                                </a>
                            </button>
                        </td>
                        {% elif appointment.appoint_status != 'Scheduled' %}
                        <td class="button-container">
                            <button class="btn-delete">
                                <a href="{% url 'delete-patient-appointment' appointment_id=appointment.appoint_id %}" class="btn-link-delete">
                                    Delete
                                </a>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>
        </table> 
        <p class="mt-4 mb-3 text-center text-sm text-gray-500">
            Back to
            <a href="/" style="text-decoration: none; color: rgb(74, 17, 206); font-weight: 600;">Dashboard</a>
        </p> 
    </div>
    
    <script src="{% static 'appoint_app/js/login_patient.js' %}"></script>
</body>
</html> 
{% endif %}